<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Home/Index/" aria-expanded="false">
                    <i class="icon-plane menu-icon"></i><span class="nav-text">Siteye Git</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Dashboard/Index/" aria-expanded="false">
                    <i class="icon-plane menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Category/Index/" aria-expanded="false">
                    <i class="icon-plane menu-icon"></i><span class="nav-text">Categories</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Product/Index/" aria-expanded="false">
                    <i class="icon-plane menu-icon"></i><span class="nav-text">Products</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Address/Index/" aria-expanded="false">
                    <i class="icon-plane menu-icon"></i><span class="nav-text">Address</span>
                </a>
            </li>
            <li>
                <a href="/Admin/User/Index/" aria-expanded="false">
                    <i class="icon-plane menu-icon"></i><span class="nav-text">Kullanıcılar</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Role/Index/" aria-expanded="false">
                    <i class="icon-plane menu-icon"></i><span class="nav-text">Roller</span>
                </a>
            </li>
            <li>
                <a href="/Admin/RoleAssign/Index/" aria-expanded="false">
                    <i class="icon-plane menu-icon"></i><span class="nav-text">Rol Atama</span>
                </a>
            </li>
        </ul>
    </div>
</div>